nav {
  padding: 20px;
}

@media (max-width: 600px) {
  .menu a {
    font-size: 14px;
  }
} /*화면 작아질 때 글자 크기 줄임*/

.menu {
  display: flex;
  flex-wrap: wrap; /*화면 작아질 때 줄바꿈*/
  gap: 15px; /*글자 사이 간격*/
  align-items: center;
  background: black;
  padding: 12px 20px;
  width: fit-content; /*메뉴 바 크기 글자에 맞춤*/
}

.menu a {
  color: white;
  font-size: 15px;
  padding: 8px 6px;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: underline;
}
.day-card h2 {
  font-size: 18px;
  margin-bottom: 15px;
  border-bottom: 2px solid #eee;
  padding-bottom: 10px;
}

.day-card {
  background: white;
  padding: 25px;
  margin-bottom: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

body {
  background: #f5f6f7;
}
.day-card ul {
  list-style: none;
  padding-left: 0;
}
.day-card li {
  margin-bottom: 10px;
  line-height: 1.6;
  font-size: 15px;
}
.menu a.active {
  font-weight: bold;
  border-bottom: 2px solid white;
}
